<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:annotation-config/>

    <bean id="client" class="client.Client">
        <constructor-arg ref="service"/>
    </bean>
    <bean id="service" class="server.ServiceExample">
    </bean>
    <bean id="client2" class="client.Client">
        <property name="service" ref="service"/>
    </bean>
    <bean id="complex" class="client.AutowiredDemo">
    </bean>
    <bean id="otherClient" class="client.OtherClient">
        <property name="myService" ref="service"/>
    </bean>
    <!-- Пример с точками и отрезками -->
    <bean id="pointA" class="geometry.Point">
        <property name="name" value="A"/>
        <property name="x" value="10"/>
        <property name="y" value="20"/>
    </bean>
    <bean id="pointB" class="geometry.Point">
        <property name="name" value="B"/>
        <property name="x" value="5"/>
        <property name="y" value="2"/>
    </bean>
    <bean id="line1" class="geometry.Line">
    </bean>
    <bean id="line2" class="geometry.Line">
        <property name="A" ref="pointB"/>
        <property name="B" ref="pointA"/>
    </bean>

    <bean id="logger" class="server.MyLogger">
    </bean>
</beans>